[2019-09-19 12:48] JoeyHengst opened #1 "[FEATURE] Is it possible to render standard formiojs components aside material components?"
Is it possible to render standard formiojs components aside the custom "material components"?

So for example for the TextField instead of using the angular material component I would just like to use:

[code]

[2019-09-19 13:17] travist commented on #1
In this case, you don't need to use the angular-material-formio library. Just use angular-formio.

[2019-09-19 13:17] #1 closed

[2019-09-19 13:47] JoeyHengst commented on #1
Ah sorry I need to clarify some more.

We want to use the same structure you did in this package but instead of using angular material we want to use our own design system.

So using the same structure in this package but without material is it possible to use the standard components from formio?

The reason I am asking this is because if formio releases a new standard component we would like to u

[2019-09-24 14:28] JoeyHengst opened #2 "How to add custom components?"
Let's say in the dev portal I have made a custom component as a resource.

With a panel , columns and textfields. Let's call it CustomAddress as a "type".

Now I want to render this custom component.

[code]

To add it to the components :
[code]

Is this possible? @travist

[2019-09-24 21:09] travist commented on #2
Here is an example of how to do a custom component with latest version.

[2019-09-24 21:09] #2 closed

[2019-09-25 11:53] JoeyHengst opened #3 "CustomComponent html is not getting rendered?"
Thank you for the example for the CustomComponent @travist

However I am not able to render any html with a customcomponent. Can you maybe elaborate or extend the example a bit more please?

[code]

[2019-09-25 20:55] travist commented on #3
You do not render with the Form.io component, but with this library, you actually render using the Angular Material component within the ```template``` construct of the @Component. Like so....

[code]

[2019-09-26 17:14] strang3quark opened #4 "Conditions not working"
When using the same form that I use for the angular-formio the conditions don't work.

Example form:

[code]

[2019-09-27 07:13] senvaitis commented on #3
I am also trying to render a custom component, however without success.

These are the changes I made:

1. `CustomComponent.ts`:

[code]
2. `app.component.html`:
[code]

File `app.component.ts` is unchanged (tried changing/removing `label, content, tag` of `header` but no success):
[code]

This is what I see:
![formio-custom-component](https://user-images.githubusercontent.com/19321727/65749375-a2

[2019-09-30 15:17] JoeyHengst commented on #3
I tried this approach but the html doesn't seem to get rendered. @travist

[2019-10-13 15:51] kenobi-io opened #5 "ReferenceError: navigator is not defined"
ReferenceError: navigator is not defined
    at eval (webpack:///./node_modules/popper.js/dist/esm/popper.js?:31:20)
    at Module../node_modules/popper.js/dist/esm/popper.js (angular-universal-starter/prerender.js:11499:1)
    at __webpack_require__ (angular-universal-starter/prerender.js:20:30)
    at eval (webpack:///./node_modules/tooltip.js/dist/esm/tooltip.js?:2:67)
    at Module../node_modu

[2019-10-14 19:43] MarcHochleutner-Koellisch opened #6 "[BUG] onChange() in date.component.ts not called"
The methode onChange() not called in the date.component.ts.

[2019-10-16 14:12] cristi-paraschiv opened #7 "[BUG] Components don't take into account the `disabled` attribute"
## Environment
- Hosting type
  - [x] Local deployment
- Version:
  - `1.0.2` (angular-material-formio)

## Steps to Reproduce
1.  Create a form layout with a textfield component
2.  Set the `disabled` attribute to `true`
3.  Render the form

## Expected behavior

The text field should be disabled.

## Observed behavior

The text field is not disabled and accepts input.

## Example
[code]

![image

[2019-10-22 12:18] mluis opened #8 "[BUG] this.parent.viewContainer is not a function"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Local deployment
    - Version: "angular-material-formio": "^1.0.2"
- Frontend framework: Angular 8
- Browser: Chrome
- Browser version: Version 77.0.3865.120 (Official Build) (64-bit)

## Steps to Reproduce
1. Use the json form sample in this issue.
2. <mat-formio [form]="form" (submit)="onSubmit($event)"></mat-form

[2019-10-24 02:11] travist commented on #7
Fixed in v1.1.0

[2019-10-24 02:11] #7 closed

[2019-10-24 02:11] travist commented on #4
Fixed in v1.1.0

[2019-10-24 02:11] #4 closed

[2019-10-24 02:13] travist commented on #3
Try with the latest version. I made a change to the HTMLComponent.

[2019-10-24 11:59] JoeyHengst commented on #8
@travist can you look at this one asap plz. This is also a blocker for use since all our forms will display as a wizard. Thank you! We are using the latest dependencies.
[code]

[2019-10-24 18:08] JoeyHengst commented on #3
@travist I tried this with the latest version but it didn't seem to work.
<img width="1153" alt="Screenshot 2019-10-24 at 19 58 59" src="https://user-images.githubusercontent.com/5282877/67512413-11c40900-f699-11e9-9439-3674a85e6f94.png">
[code]
It's added to the index.ts to get rendered like :
[code]
Results in the following error :
<img width="1057" alt="Screenshot 2019-10-24 at 20 06 40" src="h

[2019-10-25 10:58] mattae opened #10 "[BUG] Url datasource for select do not work"
When using the same form that I use for the angular-formio the url datasource select don't work; it doesn't populate the dropdown.
Tested on v1.1.0

Example form:
[code]

[2019-10-28 15:02] efortes commented on #8
Hallo
@travist I have this issue also when rendering a wizard.
At the moment this issue is blocking our project from continue. Do you know how to solve this issue?

[2019-10-28 16:14] Yobikap commented on #8
Hi @travist we have the same problem. This should be fixed as asap, or else we can not continue.
Thanks.

[2019-10-28 17:49] travist commented on #8
This library still does not support wizards. The customer who funded it did not have an immediate need for wizards, which is why it wasn't implemented. It absolutely is on our list to implement this, but is currently below other critical items. If someone has an immediate need for this, and does not want to contribute to the Open Source project with their own implementation, then it is an option t

[2019-10-28 17:50] wag110894 commented on #8
support@form.io

[2019-10-29 10:09] efortes commented on #8
@travist @wag110894 we will discuss with the team. Thank you for the answer.

[2019-10-30 22:49] adornala commented on #8
@travist How long do you think this is gonna take, if we make it to top of your priority list? (To make wizard compatible)

[2019-11-11 12:54] instantgis opened #11 "[BUG] ERROR TypeError: this.ngZone.runOutsideAngular is not a function"
## Environment
Please provide as many details as you can:
node 10.16.0
npm 6.8.0

Everything else versioned as per this repo as is
- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. Download this repo & unzip
2. cd to demo folder, npm i
3. ng s

## Expected behavior

Expect this t

[2019-11-11 21:08] travist commented on #11
This will be fixed in a new build I am working on. Should be released in the next couple of days.

[2019-11-11 21:12] travist commented on #11
Fixed in 1.2.0 build.

[2019-11-11 21:12] #11 closed

[2019-11-11 21:12] travist commented on #10
Fixed in 1.2.0 build.

[2019-11-11 21:12] #10 closed

[2019-11-25 18:34] travist commented on #8
Just FYI to everyone.. we did get a sponsorship for this feature and I have been allocated to work on it this week. Should be done by the end of the week!

[2019-12-04 02:56] travist commented on #8
This is now done and is in the latest 1.4.0 release!

[2019-12-04 02:56] #8 closed

[2019-12-04 11:12] efortes commented on #8
Thank you for the update. We will test this ASAP.

[2019-12-04 22:13] JoeyHengst commented on #3
@travist Can you maybe take a look at this? Since with the Wizard now in place. Thank you for that btw. It's for us now useless if we can't render our own custom components which are made in FormManager.

For instance we have a custom address component which content managers can drag and drop in the FormManager to create forms.

The address component is composed of :
Panel
TextField
Column
TextFie

[2019-12-06 15:02] travist commented on #3
I believe it should be...

[code]

[2019-12-06 15:19] JoeyHengst commented on #3
Ah yeah we renamed MaterialComponent to FormsComponent.

But I think that’s not the issue we even tried it out with a fresh checkout with the demo project and then a wizard form which contained a customcomponent without renaming anything but just use our own form in the <mat-formio>. And we didn’t got our html being rendered. The customcomponent was detected but it didn’t show us our html we had i

[2019-12-09 08:31] joennlae opened #19 "[BUG] DayComponent Wizard view throws error"
First of all: **Thanks for your effort to implement wizard display for angular material.**

## Environment
Please provide as many details as you can:
- Anuglar-Material-Formio version: 1.4.0
- Formio.js version: 4.0.9
- Frontend framework: Angular

## Steps to Reproduce
1.
[code]

## Expected behavior
Should no throw an error. An behave like it does when rendering as a form instead of a wizard.

[

[2019-12-09 15:38] travist commented on #3
There is really nothing different between a custom component and a regular component. The ONLY thing different is that you need to ensure you register the component using

[code]

It could be that when you are getting the ```Components``` from formiojs that you are including the wrong module that the application is not using. I have seen this before... You may try doing this...

[code]

And then

[2019-12-09 15:41] travist commented on #19
Thanks for this... we will take a look.

[2019-12-10 23:38] LaksmiEzhil commented on #4
@travist, still i am getting this issue. In normal form.io the conditional is working good. If i use material form.io it's not working.

[2019-12-12 20:34] jhen1422 commented on #4
@LaksmiEzhil
Thank you for the report. We've added this issue to our backlog and will review during our planning meeting next week. If you need this item expedited, please feel free to contact support@form.io for pricing.

[2019-12-19 07:26] LaksmiEzhil commented on #4
@jhen1422 , thanks for your consideration. I got a new issue. When i tried to build my app i am getting a warning message.
WARNING in ./node_modules/angular-material-formio/node_modules/formiojs/utils/utils.js
Module not found: Error: Can't resolve 'vm' in 'C:\dev\sevahealthWeb\node_modules\angular-material-formio\node_modules\formiojs\utils'

form.io not loading in server also.can you please help

[2019-12-19 08:12] LaksmiEzhil opened #20 "not able to build angular material form.io"
I am using angular material form.io using json.  When I try to build the app using ng build --prod, I am getting the below warning message.

WARNING in ./node_modules/angular-material-formio/node_modules/formiojs/utils/utils.js

Also, material form.io not loading in server. please help.

[2019-12-19 15:21] travist commented on #20
Does it provide you what the actual warning was? That would be helpful.

[2019-12-19 15:23] travist commented on #4
@LaksmiEzhil you already submitted an error with that Warning.  That is plenty enough for us to see it...

[2019-12-19 16:07] LaksmiEzhil commented on #20
@travist, thanks for your immediate reply. This is the actual warning I am getting.

WARNING in ./node_modules/angular-material-formio/node_modules/formiojs/utils/utils.js
Module not found: Error: Can't resolve 'vm' in 'C:\dev\sevahealthWeb\node_modules\angular-material-formio\node_modules\formiojs\utils

[2019-12-20 14:31] travist commented on #20
Ok... this is complaining about our Isomorphic validation...  we will take a look.

[2019-12-21 04:23] LaksmiEzhil commented on #20
Thanks travist. I am waiting for good news.

[2019-12-23 22:15] travist commented on #20
This is resolved in the 1.5.0 build.

[2019-12-23 22:15] #20 closed

[2019-12-24 11:15] LaksmiEzhil commented on #20
Thanks travist. I will check.

[2019-12-26 11:37] Andrjuxa opened #22 "[BUG] Rendering angular html template"
Hello, dear developers.
I create custom angular material component - Panel. Add angular decorator with template. But this template dont rendered. Rendered standard html from Panel component.

**Code:**

![code](https://user-images.githubusercontent.com/12463504/71474510-d5be3900-27ec-11ea-8291-b02a7f7a29b1.jpg)

**Render:**

![html](https://user-images.githubusercontent.com/12463504/71474516-df47a

[2019-12-26 15:01] travist commented on #22
In your form that is being rendered... what is the "type" of the component?  This would only work if you were rendering a component with a type of "custom-panel" like this...

[code]

instead of this...

[code]

[2019-12-26 16:33] Andrjuxa commented on #22
Of course I use
`
{
  "type": "custom-panel"
}
`

I work with your demo project and refactor it. If you try it too, you take wrong result too...

[2020-01-13 05:40] Asifislam110 opened #24 "Material Form Builder"
Would it be possible to use https://github.com/formio/angular-material-formio  to create form builder? If yes could you please some example . I tried below code but throwing exception.

<form-builder [form]="{
  components: []
}"></form-builder>

Got it from here  https://github.com/formio/angular-formio/wiki/Form-Builder

[2020-01-14 14:49] travist commented on #24
It would require some work to build out the shims for the builder, but yes, it could be done.

Something like this may require either community support or sponsorship for the Form.io team to develop this capability.

[2020-01-16 08:01] trongnghia098 opened #29 "Select component do not work with url datasource"
When i use for the angular-material-formio (tag <mat-formio) the url datasource select don't work; it doesn't populate the dropdown when click. But tag <formio> working.
Tested on version 1.6.2

Example form
`{
          "autofocus": false,
          "input": true,
          "tableView": true,
          "label": "Test 1",
          "key": "page1Select3",
          "placeholder": "",
          "dat

[2020-01-20 08:44] joennlae commented on #19
Just to keep this thread relevant. I know that you did not focus on that.
The issues still exists in v1.6.3.

[2020-01-20 15:28] travist commented on #19
@vlad-shusterman do you mind adding some variable protection around this line? Shouldn't take long.

[2020-01-20 15:29] jhen1422 commented on #29
@trongnghia098
Thank you for the report. We have assigned this issue to our development team.

[2020-01-21 13:25] vlad-shusterman commented on #19
@travist I'll do it.

[2020-01-27 07:43] joennlae commented on #19
@travist @vlad-shusterman Thank you for solving it.

[2020-01-27 07:43] #19 closed

[2020-01-29 12:10] ArulRozario opened #38 "Add Support for mat-form-field appearance"
Would it be possible to add an @Input to mat-form-io or any other means to have different appearance to form-fileds as shown here[https://stackblitz.com/angular/malkplgnkdb?file=src%2Fapp%2Fform-field-appearance-example.html](url). Our project heavily relies on Material form-io and we have all the fields with an outline appearance.

[2020-01-29 15:20] travist commented on #38
That should be a simple addition. This would make it so it can take an **appearance** input in the mat-formio. @vlad-shusterman can you maybe easily add this feature?

[2020-02-01 03:17] yannickcare opened #40 "[BUG] this.parent.viewContainer is not a function"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- angular-material-formio version: 1.8.0
- Frontend framework: Angular 8
- Browser: Chrome
- Browser version: Latest

## Steps to Reproduce
1. <mat-formio src="https://xxx.form.io/yyy"></mat-formio>

## Expected behavior
Form would display and work properly

## Observed

[2020-02-01 03:20] yannickcare commented on #8
Still occurring in 1.8.0 on angular 8.2.14

[2020-02-04 09:19] Andrjuxa commented on #22
The problem is still relevant.

**CustomComponent.ts**

![cc](https://user-images.githubusercontent.com/12463504/73730668-39227b80-4748-11ea-9ffb-023dd0c65d4f.jpg)

**app.component.ts**

![ac](https://user-images.githubusercontent.com/12463504/73730750-640ccf80-4748-11ea-9359-443246630f3e.jpg)

**Render**

![r](https://user-images.githubusercontent.com/12463504/73730773-6e2ece00-4748-11ea-8edd-9a6

[2020-02-10 14:49] travist commented on #22
I do not know off the top of my head. This would need to be assigned to a developer to investigate, and from the looks of it is not a high priority item. If you would like to pay to expedite resolution, then please send a message to support@form.io and we can get that setup for you.

[2020-02-12 16:59] Deloriom opened #47 "[BUG]"
## Environment

- Hosting type
  - [x] Local deployment
    - Version: angular-material-formio-demo version
- Formio.js version:  angular-material-formio-demo version
- Frontend framework: angular
- Browser: opera

## Steps to Reproduce
1. serve the demo
2. construct the form in the form-builder using date / time component
3. use the form in the material-formio renderer

## Expected behavior
show

[2020-02-13 06:51] matewis opened #48 "Angular 9"
Hallo

Are there any plans to upgrade this project to support angular 9 with the ivy compiler?

Thank you
Mat

[2020-02-13 15:14] travist commented on #48
Yes, this will happen soon. It is on our backlog and should probably get done within the coming weeks.

[2020-02-13 15:26] matewis commented on #48
Great news, thank you!

[2020-02-13 15:26] #48 closed

[2020-03-04 10:27] vlad-shusterman commented on #40
Fixed by this commit
https://github.com/formio/angular-material-formio/commit/c7228c361274a3ae8769f31a919232c546cd387a

[2020-03-04 10:27] #40 closed

[2020-03-04 17:21] kalodim commented on #24
Hi @travist

Could you please provide me guidelines on how I can implement the Material form builder? Would it be something similar with the renderer or no?

Thanks,
Dimitris

[2020-03-05 09:33] paramjeetnandal commented on #38
Hi any update on this?

[2020-03-06 13:16] vlad-shusterman commented on #38
@paramjeetnandal, @ArulRozario
Hey, we've done with this feature.
Now you can use it like this:
[code]

[2020-03-07 17:40] ArulRozario commented on #38
Thanks. good work.

[2020-03-08 21:44] mprinc opened #59 "[BUG] - Angular 9"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [ x] Local deployment
- Formio.js version: "angular-material-formio": "^1.15.0",
- Frontend framework: agnular: 9.0.5
- "typescript": "~3.7.5"
- Browser: chrome
- Browser version: 10.15.3

## Steps to Reproduce

Hi, after migrating the project from angular 8.3.2 to angular 9.0.5 formio-material started cra

[2020-03-08 21:49] mprinc commented on #59
I am aware of this issue #48 which is closed now. It is like 3-4 weeks later, so wondering what is the status?

Would be happy to pull request if you have direction on issues to fix?

[2020-03-09 15:07] travist commented on #59
I probably should not have closed that issue... I am sure I was thinking that was in terms of the angular-formio library (which this library uses as a core lib) which was upgraded to Angular 9.

[2020-03-09 20:49] mprinc commented on #59
Thanks @travist.

Yes, the hierarchy is clear to me, thanks. So you are just explaining that the angular-material-formio will be upgraded through angular-formio and we should wait for that?

Any hint on timing or community fixing if it would take it too long to wait?

[2020-03-15 02:03] travist commented on #59
The angular-formio library has been updated. We just need update this library.  Preferably make it reverse compatible so it can be used on 8 or 9.

[2020-03-15 02:04] travist commented on #59
If the community wants to chime in to help with this it would be greatly appreciated.  It is pretty far down on our internal priority list.

[2020-03-19 11:24] ykcycer commented on #24
I faced the same need. Could anyone help with implementation? Any advice is welome

[2020-03-19 20:42] jonasscript commented on #59
I am trying to install angular-material-formio verision 4.6.12 in Angular 9.0.7, I have updated the angular-formio library to verison 1.18.0, however it presents me the bug mentioned by Sasha Rudan, is there any solution for my verison current Angular?

[2020-03-23 14:57] travist commented on #59
We still have not upgraded this library to Angular 9. It is on our backlog, but we are still not to that point yet. We are open to any community contributions that would like to take a stab at this and submit a pull request.

[2020-03-26 12:50] rspsuresh opened #66 "IS not a bug.In Formio material bulder option is there or we need to convert json to material in angular version"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1.
2.
3.

## Expected behavior

## Observed behavior

## Example
If possible, please provide a screenshot, live example (via [JSFiddle](https://jsfiddle.net/) or similar), an

[2020-03-26 13:22] rspsuresh commented on #38
Could explain this briefly with full json

[2020-03-26 14:51] travist commented on #66
Please use the standard template when submitting tickets for us to look at. It is hard for me to determine what you are asking about here.

[2020-03-27 04:44] rspsuresh commented on #66
I  mean ,if any key is there for visualize form as material view.

[2020-03-30 08:41] rspsuresh commented on #59
Could not replace this.form value while i am using service via replace this.form ,any idea is there please share me as soon as possible

[2020-03-31 10:21] vlad-shusterman commented on #59
@rspsuresh
It works well.
For example if you have component like that
[code]
You can modify formLayout object on different conditions and it will affect UI.

[2020-04-01 23:16] mprinc commented on #59
Thanks @travist, we are considering to do the upgrade. Are there any perks regarding the upgrade process you need to share with us?

[2020-04-08 11:24] ArulRozario opened #68 "[BUG] Readonly mode not working with AOT"
When serving or build with AOT enabled, readonly mode is not working in mat-formio. It works well in bootstrap form io.

[2020-04-10 15:28] weihan1394 opened #69 "[BUG] Form not generated if reading from json file"
## Environment
Please provide as many details as you can:
I will like to generate the form using a json file locally on my assets directory. Hence, I tried moving the demo json to a file but when I try to read it I am able to see that the reading of the json correctly only if u put the json content at the page.module.ts file.

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:

[2020-04-10 16:16] weihan1394 commented on #69
Sorry, I manage to fix it. It was my mistake at the importing of the json.

[2020-04-10 16:16] #69 closed

[2020-04-15 11:58] sinan-can commented on #3
Hi @travist

Thanks for this great library. It's exactly what we're looking for!

However, I am looking for a working custom component example, as well. I have been trying to render some html by a custom a component for 2 days with no luck.

Is it possible that you can extend the CustomComponent.ts file to make a small working example for us?

We appreciate it very much .
Thanks in advance!
Sinan

[2020-04-20 05:15] Arashatami commented on #24
I faced the same need.

[2020-04-20 06:57] sinan-can commented on #3
Hello @JoeyHengst, @senvaitis,

this problem still occurs with the latest version. Did you find any solution or workaround to this problem?
I appreciate it a lot, if you can share your experience, solution or workaround, if you have any.

Thank you guys!
Best Regards

[2020-04-22 09:38] BondocClaudiu commented on #68
In my case the development build is working correctly, but in the production one the conditionals are not triggered.
I managed to solve this by using:  ng build --prod --aot false --build-optimizer false
It is a temporary solution and I hope that this issue will be solved soon..

[2020-04-22 14:03] wag110894 commented on #68
This item has been resourced to a developer. We will let you know once this is issue has been resolved.

[2020-04-25 12:53] ArulRozario commented on #68
Thanks for your response. Awaiting the release. It's an awesome library that our project heavily relies on.

[2020-04-30 15:47] albert5287 commented on #59
I have opened a pr https://github.com/formio/angular-material-formio/pull/92 with the update,. I hope it could be merge soon.

[2020-05-08 14:15] enigmatic commented on #3
Using https://github.com/formio/angular-material-formio/blob/master/projects/angular-material-formio/src/lib/components/index.ts as a guide here's what I have that seems to work:

replace
`(HeaderComponent as any).MaterialComponent = HeaderComponent;`

with
`const CompClass = (HeaderComponent as any);
CompClass.MaterialComponent = MaterialHeaderComponent;
CompClass.prototype.render = (function ()

[2020-05-11 18:48] sinan-can commented on #3
Hi @enigmatic,

thank you for the long explanation and sample code. I have done it as you described but with no luck.  Nothing will be rendered. I have debugged a litte bit and I have realised that a renderComponent of HeaderComponent will be called with empty body.

![image](https://user-images.githubusercontent.com/38725079/81598858-3a5ae880-93c8-11ea-84be-410f5f5a72d4.png)

Here is my final cod

[2020-05-12 21:34] enigmatic commented on #3
Odd. It works for me.  I did get an error `MaterialHeaderComponent_Host.ngfactory.js? [sm]:1 ERROR TypeError: Cannot read property 'nativeElement' of undefined` when extending MaterialHtmlComponent, so you can extend the new Component from MaterialComponent:

[code]

The empty renderComponents function comes from [MaterialComponent](https://github.com/formio/angular-material-formio/blob/master/pro

[2020-05-12 22:02] enigmatic commented on #22
is this a duplicate of https://github.com/formio/angular-material-formio/issues/3?  I have a solution posted there

[2020-05-14 17:29] #3 closed

[2020-05-26 22:23] osantos1910 opened #117 "[BUG] NextPage for wizard are not rendered"
## Environment
When rendering wizard in browser console appear next error:
ERROR TypeError: Cannot read property 'options' of undefined
    at MaterialWizardComponent.ngOnInit (angular-material-formio.js:237)
    at checkAndUpdateDirectiveInline (core.js:31910)
    at checkAndUpdateNodeInline (core.js:44367)
    at checkAndUpdateNode (core.js:44306)
    at debugCheckAndUpdateNode (core.js:45328)

[2020-05-27 17:16] wag110894 commented on #117
Hello @osantos1910, Thank you for providing the form embed URL. We are not seeing this issue on our side using Formio.js versions 4.9.20 as well as version 4.10.0-rc.3. Could you provide a JSFiddle of this issue so we can replicate on our side?

[2020-05-27 19:09] osantos1910 commented on #117
Hello @wag110894 . Thanks for your answer. I'm still getting the issue. As explain above I use angular-material-formio not only Formio.js. When I use angular-formio all works fine and I getting the expected behavior, but all get mess when instead use <formio> y use \<mat-formio>

Hello @wag110894 . Thanks for your answer. I'm still getting the issue. As explain above I use angular-material-formio

[2020-05-27 22:47] osantos1910 commented on #117
I think the issue is related to method setPage of Formio.js. Here this.redraw() is treated as a Promise and instead in angular-material-formio library redraw() method not have return statement returning undefined and not a promise.

`this.redraw().then(function () {
          if (!_this11.options.readOnly) {
            _this11.checkValidity(_this11.submission.data, false, _this11.submission.data,

[2020-05-28 14:13] wag110894 commented on #117
@osantos1910, Thank you for providing this additional information. We have assigned this item to a developer to take a look at. We will let you know once this issue is resolved.

[2020-05-28 14:15] osantos1910 commented on #117
@wag110894 Thank you for all

[2020-05-29 14:13] osantos1910 opened #119 "[BUG] Hidden components throw error"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x ] Local deployment
    - Version:
- Formio.js version: 4.10.0-rc.4
- angular-material-formio version: 1.26.0
- Frontend framework: Angular9
- Browser: Firefox
- Browser version:

## Steps to Reproduce
1. Create wizzard and in a page create a hiddenComponent from SpecialComponents
2.
3.

## Expected beha

[2020-05-29 14:15] wag110894 commented on #119
@osantos1910 Thanks for reaching out! Can you please provide a JSfiddle of this issue occurring on your side?

Thank you.

[2020-06-05 13:42] fsahar786 opened #125 "mat-formio renderer: refreshing data in select dropdown when another field changes. [BUG]"
I have issue in **mat-formio renderer** select dropdown component. I am trying to Refresh data of dropdown when another field changes but unable to do so.
property in formiojs is name as "**Refresh Options On**" and JSON property **refreshOn**
this option s working properly if i use **formio** tag instead of **mat-formio** then dropdowns are working fine. Please help me solving this issue.

## Env

[2020-06-06 02:25] mprinc commented on #59
Thanks, @albert5287, we took your [PR](https://github.com/formio/angular-material-formio/pull/92), or rather your [fork](https://github.com/albert5287/angular-material-formio) into [our fork](https://github.com/mprinc/angular-material-formio).

Regarding building everything was fine with the PR, but when we wanted to use it, we had issues with angular not recognizing properties like `form` propert

[2020-06-07 03:41] huangchinlin opened #127 "[BUG] SyntaxError: invalid regexp group in Firefox"
## Environment
- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Angular-Material-Formio version:  1.27.0
- Frontend framework: Angular CLI 9.1.7 (Ivy disabled)
- Browser: Firefox
- Browser version: 77.0.1 64bits

## issue
I made a simple html page for test, seems it's work pretty good in Chrome, but can't work in Firefox and the error message I saw in console is "SyntaxErro

[2020-06-07 21:53] elibus commented on #127
It works up to 4.10.0-rc.6. rc.7 seems to break.

[2020-06-08 12:21] abdullahqudeer commented on #125
I am facing the same issue , may be there is some issue in library ....

[2020-06-08 14:32] travist commented on #127
It is related to https://github.com/formio/formio.js/issues/2898.  We are working on a fix now and will have one hopefully today.

[2020-06-09 07:20] huangchinlin commented on #127
I have tested version 1.28 and the version can work on Firefox, thank you!!

[2020-06-09 07:20] #127 closed

[2020-06-09 07:47] huangchinlin opened #130 "[BUG]Date/Time Component do not show value."
## Environment
- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- angular-material-formio version: 1.28
- Frontend framework: Angular 9.1.7 (Ivy disabled)
- Browser: Chrome, Firefox
- Browser version:  83, 77

## Steps to Reproduce
1. make a form by form-builder and add a date/time component.
2. use mat-formio to show the form.
3. press space on the date/time component, and t

[2020-06-23 04:09] weihan1394 opened #140 "[BUG] Extra empty item at select component"
I have recently upgraded the formio to the latest version and I realized this weird behavior at **select** component. There will always be an empty item above all the specified items as populated from the json. I have attached the behavior for referencing.

## Environment
- Hosting type
  - [x] Form.io
  - [✓ ] Local deployment
- Formio.js version: ^4.10.3-rc.3
- angular-material-formio: ^1.19.0
-

[2020-06-23 10:20] mikekotikov commented on #130
@huangchinlin tested on angular-material-formio v1.30.0 and it works for me. Could you recheck it?

[2020-06-23 14:38] huangchinlin commented on #130
@mikekotikov I have tested with v1.30, but the issue is still there.

[code]

[2020-06-30 03:26] Asifislam110 commented on #140
I faced the same need. Could anyone help with implementation? Any advice is welcome

[2020-07-03 06:59] hyhuu99 commented on #24
I faced the same need.

[2020-07-17 15:18] stefanofalasca commented on #59
is there a planing about close this issue, closing pr #92  ?

[2020-07-17 15:51] stefanofalasca commented on #59
I tried to use your fork but there is an error on rendering:
ERROR NullInjectorError: R3InjectorError(PagesModule)[FormioLoader -> FormioLoader -> FormioLoader -> FormioLoader]:

[2020-07-20 06:18] albert5287 commented on #140
I have created a PR to solve this issue https://github.com/formio/angular-material-formio/pull/144

[2020-07-24 03:29] mprinc commented on #59
Hi, @stefanofalasca

It is hard for me to understand the reason for your error just based on this single line.

Few hints:
+ we had to integrate `angular-formio` inside the `angular-material-formio` as otherwise, it was reporting errors, so you might try to remove `angular-formio` as a dependency, but I wouldn't
+ you might also have a wrong version of it, as some newer versions of `angular-formio

[2020-09-22 09:40] Aghoghomena commented on #24
is there any update on the form builder

[2020-09-23 20:56] travist commented on #24
We do not have any current plans to build out this feature. It would be great if the community would assist in this endeavor.

[2020-10-08 10:29] haschu commented on #140
Hey,
just a friendly reminder that a PR with a quick-fix was submitted by @albert5287.
Should be fairly easy to merge, as it doesn't breaks anything :slightly_smiling_face:

[2020-10-12 13:34] Aswany09 opened #153 "is it possible to use file upload in angular-formio ? [BUG]"
is it possible to use file upload in angular-formio?

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version: 1.11.0
- Frontend framework: Angular Material
- Browser: Chrome,Firefox
- Browser version: 70+

## Steps to Reproduce
1. add file upload to formbuilder
2. formrender doesn't show file input (Unknown Component: File)

## Example
![image](https://user-images.githubusercontent.c

[2020-10-12 13:53] wag110894 commented on #153
Hello @Aswany09,

The file component is part of our premium components and you will need to have access in order to use our file upload component as well as many others.

Please let me know if you are interested and we can get the process started.

[2020-10-25 14:09] ikonezg commented on #59
What is the status of this lib? I'm considering using it on one big project. But I tried to install it on Angular 10 and still it not working.

[2020-10-26 21:11] travist commented on #59
We are going to have a developer allocated to upgrade this library very soon, but we are behind on our other backlog items. It should happen before the end of the year.

[2020-11-02 07:39] #153 closed

[2020-11-10 17:57] agoetschm opened #155 "[BUG] conditional in wizard page produces "this.parent.viewContainer is not a function""
## Environment
- Hosting type
  - [x] Local deployment
    - Version: 1.30.0
  - [ ] Form.io
- Formio.js version: 4.10.3-rc.3
- Frontend framework: angular 8.2.14
- Browser: occurs with both Chrome and Firefox

## Steps to Reproduce
1. clone the `angular-material-formio` demo
2. replace the content of `app.component.html` with
[code]
3. edit the `app.component.ts` file to contain
[code]

## Expect

[2020-11-12 15:29] travist commented on #155
We will investigate this. Thanks.

[2020-11-13 17:49] redmagic opened #156 "Bootstrap dependency"
Hi,

Maybe it would be good to remove the ngx-bootstrap dependency? As material brings it's own styliing, we could get rid of bootstrap. It adds extra weight and ngcc compile time as it is now.

[2020-11-15 17:28] agoetschm opened #157 "[BUG] nextPage event in wizard not working"
## Environment

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 1.30.0
- Formio.js version: 4.10.3-rc.3
- Frontend framework: angular 8.2.14

## Steps to Reproduce
1. clone the `angular-material-formio` demo
2. replace the content of `app.component.html` with
[code]
3. edit the `app.component.ts` file to contain
[code]

## Expected behavior
When clicking the "Next" button of

[2020-11-16 14:43] agoetschm commented on #157
I tried to find out where the issue lies:
- the `MaterialWizardComponent` component has a `nextPage()` function which is called https://github.com/formio/angular-material-formio/blob/fb0035557f910367d774d5c4918074f208ac04eb/projects/angular-material-formio/src/lib/components/formio.wizard.ts#L48
- the `Wizard` class of the `formio.js` library has a `nextPage` method but I couldn't verify that it i

[2020-11-16 14:52] travist commented on #156
Agreed. We will remove it when we accept the Angular 10 upgrade pull request.

[2020-11-17 18:40] aca-pulco commented on #59
This is a very cool library, thank you very much, you make life a lot easier, but I can't use it with 10 angular
What is the status of this lib?

[2020-11-17 20:23] kenobi-io opened #159 "[BUG] MatFormioModule is not a reference: [object Object]"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
node_modules/angular-material-formio/fesm2015/angular-material-formio.js:4104:26 - error NG at position 4 in the NgModule.imports of MatFormioModule is not a reference: [obje

[2020-11-17 22:07] travist commented on #59
We already have a pull request. https://github.com/formio/angular-material-formio/pull/154

We just need the time to test it and get it released. We are very backed up on other releases right now, so this is just going to have to wait. It would be beneficial if everyone tested out that PR ^ to verify if it works.

[2020-11-17 22:08] travist commented on #159
What version of Angular are you trying here?

[2020-11-17 22:22] mprinc commented on #59
When I was integrating patches to make it work, I issued various problems, so I am not sure if it would be that simple to test the PR, can you issue som unofficial release that we can test from github, same as I did: https://github.com/formio/angular-material-formio/issues/59#issuecomment-663331758

[2020-11-18 12:15] aca-pulco commented on #159
angular 11.0.0

[2020-11-18 15:52] travist commented on #159
I would like to hold off on answering this one until we update this library to the latest angular releases.

[2020-11-24 04:52] mdesens commented on #159
Instead of:

import {
  MatInputModule,
  MatButtonModule,
  MatFormFieldModule,
  MatCheckboxModule,
  MatRadioModule,
  MatSelectModule,
  MatListModule,
  MatChipsModule,
  MatExpansionModule,
  MatCardModule,
  MatStepperModule,
  MatTabsModule,
  MatTableModule,
  MatDatepickerModule,
  MatNativeDateModule,
  MatProgressSpinnerModule,
  MatIconModule,
  MatTooltipModule, MatMenuModule
} from

[2020-12-10 21:06] JRiggenbach commented on #24
@travist Any suggestions on what the best approach would be to get started on this?

[2020-12-11 10:39] ikonezg opened #160 "Update to Angular 11"
Hi Formio

When will get the update to the latest version of Angular (11)?

Thank You

[2020-12-11 12:41] SergioASalazarGastelo commented on #159
Any news about this? Thanks in advanced.

[2020-12-11 21:47] travist commented on #24
@JRiggenbach if you are looking to contribute the resolution of this, then the best place to start is to first dive into this code to understand how this library overrides the view for the form renderer and then apply that same process to override the view rendering of the form builder (by overriding the ```render``` and ```attach``` methods). I would go into more detail, but honestly, this work w

[2020-12-14 14:52] travist commented on #159
I am hoping to work on an updated build for latest Angular versions this week.

[2020-12-14 14:52] travist commented on #160
I am hoping to work on it this week.

[2020-12-29 19:55] jeriah-formio commented on #155
@agoetschm Shoud be resolved with the latest version of formio.js and Angular Material

[2020-12-29 19:55] #155 closed

[2021-01-03 22:55] agoetschm commented on #155
@jhen1422 thanks for working on this!
I just tested using my dummy wizard and the panel with the conditional appears depending on the value in the `foo` text field as expected, but the error still occurs and the content of the second panel (the `bar` text field) does not appear.
Anything I can do on my side?

[2021-01-05 09:18] ginomariob opened #164 "Placeholder for search input field in the "Select Component""
It's not a bug but our application is used in multi languages. So in the latest formio-angular-material version the select component contains a search input. The placeholder of this search input is hardcoded with "Type to search". It would be nice to set the placeholder of this search input in the configuration of the component or hide this search input in the configuration of the component.

[2021-01-07 18:15] wag110894 commented on #155
Hello @agoetschm,

Can you provide your from as well as a video of the issue?

[2021-02-09 17:54] #159 closed

[2021-02-09 17:55] kenobi-io commented on #5
relate https://github.com/formio/angular/issues/387
duplicate https://github.com/formio/angular/issues/386

[2021-02-09 17:57] #5 closed

[2021-02-10 05:50] paulbors opened #167 "[BUG] Custom angular component shows as Unknown Component: componentId"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 2.0.0
- Formio.js version: 4.12.4
- Frontend framework: 11.0.3
- Browser: Chrome
- Browser version: Version 88.0.4324.104 (Official Build) (64-bit)

    "@angular/core": "^11.0.3",
    "@angular/material": "^11.0.3",
    "@angular/forms": "^11.0.3",
    "@formio/angular

[2021-02-10 06:22] paulbors commented on #167
I just noticed from your demo app I'm extending the wrong `FormioCustomComponent` type.

I would try this tomorrow:
[code]

Will close this once I test it :)

[2021-02-10 13:54] paulbors commented on #167
This is not a bug, I got the same code to work with both version of the directive ```<formio>``` and ```<ng-formio>``` via:

[code]

Thank you guys!

[2021-02-10 13:55] #167 closed, assigned to nobody

[2021-02-10 18:22] abdulfousan commented on #156
@travist Could u plz share any updates on this?

[2021-02-11 15:12] travist commented on #156
No updates, but we do need an effort to upgrade this library with latest @formio/angular@5.x versions since this works with latest Angular. We do not have any active projects right now on this library so we will either need to wait for that, or maybe the community could lend a hand and submit some pull requests that update this library?

[2021-03-02 04:47] benwinding commented on #59
Still seems to be an issue binding to form like this: `<mat-formio [form]="formValue" ></mat-formio>`.

Although it seems to compile, VScode just shows an error (see image below), so not sure where the issue is....

![image](https://user-images.githubusercontent.com/11782590/109598957-4340c480-7b6a-11eb-8309-31f5a491b04b.png)

[2021-03-09 09:58] BondocClaudiu commented on #160
I think the update to Angular 11 is already done, based on the package.json references & this comment: https://github.com/formio/angular-material/pull/92#issuecomment-747532832

@travist correct me if I am wrong

[2021-03-16 11:14] TimurAztec opened #170 "angular-formio form builder don`t work with formio/angular-material"
When I`m installing formio/angular-material my form builder disappears.

[2021-03-17 14:58] BondocClaudiu commented on #170
I can confirm this behaviour with the latest formio modules

[2021-03-22 20:47] travist commented on #170
This module does not support the form builder interface. This is a known issue and has not yet been resolved and is currently not scheduled. It would most likely need to be sponsored to happen.

[2021-03-30 14:37] tamaserdfalvi commented on #125
Still persists :(

[2021-05-11 17:42] anojphilip007 commented on #117
is it resolved? I am still  getting the  issue

[2021-05-12 12:03] rabalasubramani3 opened #181 "Address Field Not Showing Up"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. Address fields (built out of Advanced) is not rendering

## Expected behavior
Hoping to see address fields on the form

## Observed behavior
Not seeing it.

[2021-05-14 19:15] wag110894 commented on #181
Can you provide a video of the issue as well as any error messages?

[2021-05-14 19:47] rabalasubramani3 commented on #181
See attachment[](url)

I have attached the screenshots

<mat-formio src="https://zoffjsxcwcfrvbr.form.io/addressform"></mat-formio>

[addressfield.pdf](https://github.com/formio/angular-material/files/6480897/addressfield.pdf)

[2021-05-16 17:16] Mowzey123 commented on #24
This worked for me
I installed angular-formio and added it to imports in app.modules.
Then included https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css in my index.html to enforce the styles.

The form-builder is now working as expected in my angular mat project

[2021-06-02 22:45] MohamedAmineLaribi opened #186 "[BUG]"
I used **Conditional** to show a panel when I select a value with select component but the panel is **still hidden** and does not appear .
**Ps**: there is no error.
Please help me solving this issue

[2021-06-03 22:13] wag110894 commented on #186
Hello @MohamedAmineLaribi,

What version are you runing on?

[2021-06-07 08:44] MohamedAmineLaribi commented on #186
Hello @wag110894 Im using **formio/angular": 5.1.0,** and **formiojs 4.13.1**

[2021-06-23 16:11] wag110894 commented on #181
Hello @rabalasubramani3,
Have you set the Address component up using Google, Azure Maps, or Open Street Map?

[2021-06-23 16:13] wag110894 commented on #117
Is this still an issue on the latest version of angular material?

[2021-06-25 12:11] sezerkorkmaz opened #187 "FormioModule, MatFormioModule Lazy Loading Conflict"
When we import  FormioModule and MatFormioModule to same module, form-builder components **doesnt work** properly.

When we import FormioModule to A module, and MatFormioModule to B module. And we lazy load A module, form-builder component works properly. After we load B module, it works properly too.  After lazy loaded B module , when we go to 'form-builder' component's page again, it doesnt rend

[2021-06-30 08:10] slcoder opened #188 "[BUG] Saved valued does not retain"
Hi All,

I'm using angular material tabs to render the dynamic form JSON generated from a different application. Application behaviour is one JSON renders in one tab, so if we retrieve JSON array, it renders in multiple tabs, and everything works perfectly. However, when I switch between the tabs, my saved form data is not retained in those controls
[Eg - When I enter some value to FirstName textb

[2021-07-26 09:38] bahuma20 opened #191 "Support Angular 12"
Will there be an Angular 12 compatible release?
Or is the project dead 💀?

[2021-07-26 12:29] bahuma20 opened #192 "[BUG] Cannot set submission in Angular 11"
## Environment
Please provide as many details as you can:

[code]

## Steps to Reproduce
[code]

## Expected behavior
It should display a form with pre filled values from the submission. (This worked in Angular 8)

## Observed behavior
It displays a form with emty fields. No error message in console. (Since the upgrade to Angular 11, didn't work in Angular 10 either)

[2021-11-18 21:01] smartsense-as commented on #187
Is there anyway to fix this problem currently?

[2021-12-21 12:35] rahul106-cpu commented on #29
Hi @trongnghia098 can you please look into this issue ?

[2021-12-21 12:36] rahul106-cpu commented on #29
@trongnghia098 This is in open state from long time and we also need this point into our application

[2021-12-21 13:00] rahul106-cpu commented on #29
Hi @jhen1422,
can you please look into this issue?

[2021-12-21 13:03] rahul106-cpu commented on #29
@jhen1422, This is in the open state for a very long time and we need to integrate this into our application.

[2021-12-21 21:37] armandomusto opened #201 "Error on build"
I get this errors after package installation when build the app (Angular 12). I've already installed FormIO to use the builder

Error: node_modules/@formio/angular-material/lib/components/button/button.component.d.ts:1:29 - error TS7016: Could not find a declaration file for module 'formiojs/components/button/Button.js'. 'E:/Progetti/EEE/Source/client/node_modules/formiojs/components/button/Button

[2022-06-23 08:20] DamianSoltys commented on #24
Did someone manage to implement form builder with material controls?. Or maybe some more details from you @travist?, how could this be achived based on actual code. It would be huge help for those who want to do that.
Thanks :).

[2022-06-23 08:45] DamianSoltys commented on #192
Hey @bahuma20 did you managed to fix that?

I found out that in Webform.ts file there is line of code:` this.setValue(this._submission)`, removing it fixes the problem with data population by this attribute. Is it needed to be there?, maybe we can just remove that line?. @travist

[2022-07-06 09:51] doliverio commented on #186
I can confirm this bug with formio/angular 5.2.2, formiojs: 4.14.6 and formio/angular-material: 2.0.0.

[2022-09-08 01:31] vkbishnoi commented on #191
Hi @travist : Could you please update on this question because we are also interested in Angular 12/13.

[2022-10-27 09:13] aryanisml commented on #191
form IO angular material still not supporting the latest package of Angular ??? Is any one updating this library to support the latest angular package.

[2022-10-27 09:15] aryanisml commented on #191
Dependency package like formio/angular is update to support the latest build of angular but material package still not updated.

[2022-10-27 09:15] aryanisml commented on #191
Getting the below error -
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: undefined@undefined
npm ERR! Found: @angular/common@undefined
npm ERR! node_modules/@angular/common
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer @angular/common@"^9.0.0 || ^10.0.0 || ^11.0.0 || ^12.0.0 || ^13.0.0" from @formio/angular@5.3.0
npm ER

[2022-11-12 17:58] horelvis opened #239 "FormioComponent isnot export by Module"
Hello!
We need this component to create new custom components, and now it's not, so it would be helpful if it was exported so we can use it
Thank you!